.footer{
    padding-top: 100px;
    background-color: #0E0E0E;
    &__double{
        font-size: 20px;
        color: #F5F4F9;
        display: flex;
    }
    &__ex{
        font-size: 20px;
        color:#3B44F6;
    }
    &__p{
        padding-top: 15px;
        color: #A0A0A0;
    }
    &__menu{
        font-size: 20px;
        color: #F5F4F9;
    }
    &__mane{
        display: flex;
        justify-content: space-around;
    }
    &__end{
        color: #A0A0A0;
    }
    &__final{
        padding-top: 100px;
        display: flex;
        justify-content: center;
    }
    
}